<div class="profile col one right">
    
      <img class="one" src="http://www.gravatar.com/avatar/867246e58f9345661b506537b626766e?s=200">
    
    
      <div class="address">
        <p>Software Practices Lab</p> <p>Dept. of Computer Science</p> <p>University of British Columbia</p>

      </div>
    
  </div>


  <p>
    I'm a Computer Science PhD Student at the 
    <a href="https://www.cs.ubc.ca/">University of British Columbia</a>.
    I work in the <a href="https://www.cs.ubc.ca/cs-research/software-practices-lab">Software Practices Lab</a>,
    supervised by <a href="http://www.cs.ubc.ca/~rxg/">Ron Garcia</a>.</p>

    <p>My research is focused on programming languages and type systems. In particular, I work with dependent types,
      constraint-based inference, unification, and ad-hoc polymorphism.
    </p>

    



    <div class="news">
      <h2>Recent Posts</h2> 
      
 
      $partial("templates/post-list.html")$       
    

          
        
        
      
    </div> 