<!-- <ul>
    $for(posts)$
        <li>
            <a href="$url$">$title$</a> - $date$
        </li>
    $endfor$
</ul> -->
<table>
$for(posts)$
<tr>
        <td class="date">$date$</td>
        <td class="announcement">
          
            <a class="news-title" href="$url$">$title$</a>
          
        </td>
      </tr>
      

$endfor$
</table>